
[pathes]
dbPath=./db/
workPath=./work/
dataPath=./data/
scanPath=./scan/
webPath=./www/

[search]
# Multibe of 64
windowSize=128

[ScanServer]
addr=127.0.0.1
port=9080

[Certs]
publicPath=./certs/public.pem